<table>
<thead>
  <tr>
    <th>Date</th>
    <th>Score</th>
    <th>Fairways</th>
    <th>Greens</th>
    <th>Putts</th>
    <th>Notes</th>
  </tr>
</thead>

<tbody>
<% @rounds.each do |round| %>
  <tr>
    <td><%= link_to round.date_played.strftime('%m/%d/%y'), round %></td>
    <td><%= round.score %></td>
    <td><%= round.fairways %></td>
    <td><%= round.greens %></td>
    <td><%= round.putts %></td>
    <td><%= round.notes %></td>
  </tr>
<% end %>
</tbody>
</table>