<% content_for :left_nav do %>
  <%= link_to '<i class="icon-plus-sign"></i>'.html_safe, new_round_path %>
<% end %>

<% if current_user %>

<dl class="tabs">
  <dd class="active"><a href="#rounds">Rounds</a></dd>
  <dd><a href="#stats">Stats</a></dd>
</dl>

<ul class="tabs-content">
  <li class="active" id="roundsTab">

  <table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Score</th>
      <th>F</th>
      <th>G</th>
      <th>P</th>
    </tr>
  </thead>

  <tbody>
  <% @rounds.each do |round| %>
    <tr>
      <td><%= link_to round.date_played.strftime('%m/%d/%y'), round %></td>
      <td><%= round.score %></td>
      <td><%= round.fairways %></td>
      <td><%= round.greens %></td>
      <td><%= round.putts %></td>
    </tr>
    <tr>
      <td colspan="5"><%= round.notes %></td>
    </tr>
  <% end %>
  </tbody>
  </table>

</li>

<li id="statsTab">These are your stats</li>

<% else %>

  <div class="row">
    <div class="six columns centered">
      <div class="panel">
        <h5>Welcome to GolfSpec.</h5>
        <p>Sign in with Facebook to get started.</p>
      </div>
    </div>
  </div>

<% end %>