<!DOCTYPE html>
<html>
<head>
  <title>Golfspec</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>

<nav class="top-bar">
  <ul>
    <li class="name hide-for-small"><h1><%= link_to 'GolfSpec', root_path %></h1></li>
  </ul>
  <section>
    <% if current_user %>
      <ul class="left">
        <li class="divider"></li>
        <li><%= link_to '<i class="icon-plus-sign"></i>'.html_safe, new_round_path %></li>
        <li class="divider"></li>
      </ul>
    <% end %>
    <ul class="right">
      <li class="divider"></li>
      <% if current_user %>
        <li><%= link_to '<i class="icon-signout"></i>'.html_safe, signout_path, id: 'sign_out' %></li>
      <% else %>
        <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
      <% end %>
    </ul>
  </section>
</nav>

<div class="four columns centered page_title"><%= @page_title %></div>

<div class="row">
  <div class="eight columns centered">
		<%= yield %>
	</div>
</div>

</body>
</html>
